@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-panel {
  animation: slideInRight 0.3s ease-out forwards;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

body.resizing {
  cursor: ew-resize !important;
  user-select: none !important;
}

body.resizing * {
  pointer-events: none !important;
}

body.resizing aside,
body.resizing .cursor-ew-resize {
  pointer-events: auto !important;
}